<h1>Artikel für</h1>
<form action="/" method="POST">
  <input type="hidden" name="authenticity_token" value="_post_action_token">
  <input type="text" id="word" name="word" required>
  <input type="submit" value="Suchen">
</form>
