<% if @word.artikel.include?('Not found') %>
  <h2>Das Wort konnte nicht gefunden werden.</h2>
  <h3>Überprüfe die Rechtschreibung und versuche nochmal!</h3>
<% elsif @word.artikel.join.length > 20 %>
  <h2><%= @word.artikel.join %>.</h2>
<% elsif @word.artikel.empty? %>
  <h2><%= "die #{@word.value} (nur Plural)" %></h2>
<% else %>
  <ul class="colored-text">
    <% @word.artikel.uniq.each do |art| %>
      <h2><li><%= "#{art} #{@word.value}" %></li></h2>
    <% end %>
  </ul>
  <% if @word.artikel.length > 1 %>
    <h3>Das Wort hat mehrere Bedeutungen.</h3>
  <% end %>
<% end %>
