body {
  padding: 0;
  margin: 0;
}

.wrapper {
  padding: 5rem 2rem;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.red-text {
  color: red;
}

.blue-text {
  color: blue;
}

.green-text {
  color: green;
}

.link {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

a:hover {
  color: rgb(73, 73, 161);
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
